.label-main-title {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    font-size: 48px;
    align-self: center;
    -unity-font: url('project://database/Assets/Art/Font/Kobajeon-w18YP.otf?fileID=12800000&guid=0a5f675297fe55a4280d95d0853a6aff&type=3#Kobajeon-w18YP');
    -unity-font-definition: initial;
}
